<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="logFile" value="${basedir}/logs/${shortdate}.libnibus.txt"/>
  <targets>
    <!-- add your targets here -->
    
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <target name="debug" xsi:type="File" layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] ${callsite} ${message} ${exception:format=ShortType,Message}" fileName="${logFile}"/>
    <target name="info" xsi:type="File"  layout="${date:format=HH\:mm\:ss} [${level:uppercase=true} ] ${callsite} ${message} ${exception:format=ShortType,Message}" fileName="${logFile}"/>
    <target name="error" xsi:type="File" layout="${date:format=HH\:mm\:ss} [${level:uppercase=true}] ${callsite} ${message} -&gt; ${exception:format=ShortType,Message}${newline}${exception:format=StackTrace}" fileName="${logFile}"/>
    <target name="null" xsi:type="Null"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
    <logger name="*" levels="Trace,Debug" writeTo="debug" />
    <logger name="*" levels="Warn,Info" writeTo="info" />
    <logger name="*" levels="Error,Fatal" writeTo="error" />
  </rules>
</nlog>